@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
.about {
  margin: 0 auto;
  /* display: none; */
}
.container {
  /* width: 100%; */
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.about_title_2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 57px 0 40px;
}
.about_title_2::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  display: block;
  margin: 10px auto 0;
}
.about_inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 255px;
}
.about_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 405px;
  min-height: 255px;
  /* margin-top: -20px; */
  margin-right: 76px;
}
.about_title_3 {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 700;
  color: #48555b;
  letter-spacing: 0.188px;
  /* margin-bottom: 30px; */
}
.accent-color {
  color: #16ace8;
}
.about_text {
  color: #48555b;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.188px;
  margin: 0;
}
.about_right {
  display: flex;
}
.about_item {
  padding: 15px;
  font-size: 24px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  width: 140px;
  height: 224px;
  margin-right: 20px;
}
.about_item:nth-child(1) {
  background-image: url(../img/we-plan.png);
}
.about_item:nth-child(2) {
  background-image: url(../img/we-manage.png);
}
.about_item:nth-child(3) {
  background-image: url(../img/we-build.png);
  margin-right: 0;
}

/* Service section */
.service {
  max-width: 940px;
  display: flex;
  padding-top: 120px;
  padding-bottom: 115px;
  margin: 0 auto;
}
.service_inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: flex-start;
}
.service_title {
  min-width: 250px;
  text-transform: uppercase;
  color: #48555b;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.306px;
  margin: 0 155px 80px 0;
}
.service_title::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  display: block;
  margin: 10px auto 0 0;
}
.service_text {
  max-width: 405px;
  color: #48555b;
  font-size: 11px;
  font-weight: 400;
  line-height: 19px; /* 172.727% */
  letter-spacing: 0.2px;
  margin: 0 31px 78px 0;
}
.service_btn {
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  text-transform: uppercase;
  background: #00a4e5;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0 0 76px 0;
}
.service_grid {
  display: flex;
}
.service_item {
  width: 295px;
  height: 330px;
  flex-shrink: 0;
  margin-right: 28px;
  border: 1px solid #e6e6e6;
  background: #fff;
}
.service img {
  margin: 38px auto 25px 23px;
}
.service_item-title {
  min-width: 250px;
  text-transform: uppercase;
  color: #48555b;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.427px;
  margin-bottom: 13px;
}
.service_item .text {
  color: #48555b;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.188px;
}

/* get-in-touch section */
.get_in_touch {
  min-height: 499px;
  background-image: url(../img/bg-get.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 15px 0;
}
.get_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.get_inner h2 {
  width: 350px;
  color: #48555b;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px; /* 120% */
  letter-spacing: 0.15px;
  margin: 0 auto 32px;
}
.get_inner button {
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  background-color: #00a4e5;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* newsletter signup section */
.newsletter {
  height: 100px;
  background: #171819;
  padding: 30px 15px;
  margin: 0 auto;
  margin-top: -1px;
}
.newsletter_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 685px;
  height: 40px;
  flex-shrink: 0;
  margin: 0 auto;
}
.newsletter h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.846px;
  line-height: 22px;
}
.signup_block {
  display: flex;
  align-items: center;
}
.signup {
  color: #48555b;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.07px;
  border: 1px solid #979797;
  background: #fff;
  width: 250px;
  height: 38px;
  flex-shrink: 0;
  padding-left: 16px;
}
.newsletter_inner button {
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  border: 1px solid #00a4e5;
  background: #00a4e5;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 40px;
}

/* footer section */
.footer {
  min-height: 300px;
  color: #fff;
  background: #141a20;
  margin-top: -1px;
}
.footer_inner {
  display: flex;
  flex-direction: column;
}
.footer_top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background-color: #141a20;
  padding: 42px 15px 39px;
}
.company {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.links_title {
  text-transform: uppercase;
  text-align: start;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.846px;
  margin-bottom: 0px;
}
.company img {
  width: 101.618px;
  height: 23px;
  flex-shrink: 0;
  margin-bottom: 15px;
  margin-top: 19px;
}
.company p {
  margin-top: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 19px; /* 172.727% */
  letter-spacing: 0.85px;
}
.links {
  display: flex;
  flex-direction: column;
  min-width: 262px;
}
.links ul {
  list-style-type: none;
}
.links ul,
li,
a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  line-height: 25px; /* 227.273% */
  letter-spacing: 0.846px;
  padding-left: 0;
}
.links_lists {
  display: flex;
  min-width: 262px;
  justify-content: space-between;
}
.contact {
  min-width: 274px;
  display: flex;
  flex-direction: column;
}
.contacts-box {
  /* min-width: 274px; */
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.contact p {
  max-width: 141px;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
  letter-spacing: 0.846px;
}
.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 87px;
  height: 13px;
  margin-top: 11px;
}
.socials img {
  width: 13px;
  height: 13px;
  background-color: #fff;
}
.copyright-box {
  display: flex;
  justify-content: center;
  text-align: center;

  color: #fff;
  /* margin: 0 auto; */
}
.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background: #171819;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.846px;
  margin-top: -59px;
  line-height: 20px;
}

@media screen and (max-width: 960px) {
  .container {
    max-width: 405px;
  }
  .about_inner {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .about_left {
    max-width: 405px;
    margin-bottom: 20px;
    margin-right: 50px;
  }
  .about_title_2 {
    padding-bottom: 20px;
  }
  .about_item:nth-child(3) {
    margin-right: 10px;
  }
  .service {
    max-width: 410px;
    padding: 50px 15px;
    margin: 0 auto;
  }
  .service_inner,
  .service_grid {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .service_inner,
  .newsletter_inner {
    max-width: 405px;
    margin: 0 auto;
  }
  .service_inner h2,
  .service_text,
  .service_btn {
    margin-bottom: 15px;
  }
  .service_grid {
    max-width: 405px;
    margin: 0 auto;
  }
  .newsletter {
    min-height: 200px;
  }
  .newsletter_inner {
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 100px;
  }
  .company,
  .links,
  .contact {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    min-width: 200px;
  }
  .about_inner {
    padding: 0 15px;
  }
  .about_left {
    min-height: 200px;
    padding: 0 20px;
    margin-right: 0;
  }
  .about_right,
  .get_inner {
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
  }
  .about_item {
    margin: 10px;
    /* padding: 0 15px; */
  }
  .service_inner,
  .service_item,
  .get_inner {
    max-width: 205px;
    margin: 0 auto;
  }
  .get_inner h2 {
    /* text-align: left; */
    max-width: 205px;
    font-size: 22px;
  }
  .newsletter {
    min-height: 200px;
  }
  .newsletter_inner {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    min-height: 100px;
  }
  .signup_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 200px;
    min-height: 120px;
  }
}
@media screen and (max-width: 400px) {
  .container {
    min-width: 250px;
    padding: 0;
  }
  .about_left {
    min-width: 250px;
  }
  .service_inner,
  .service_item,
  .get_inner,
  .newsletter_inner {
    max-width: 250px;
    margin: 0 auto;
  }
  .service {
    padding-bottom: 0;
  }
  .get_in_touch {
    padding-top: 30px;
  }
  .service_item-title {
    min-width: 250px;
  }
  .company,
  .links_lists,
  .contact {
    min-width: 250px;
  }
  .copyright {
    min-width: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
}
