@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.about {
  margin: 0 auto;
  /* display: none; */
}
.container {
  /* width: 100%; */
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.about_title_2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 57px 0 40px;
}
.about_title_2::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  display: block;
  margin: 10px auto 0;
}
.about_inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 255px;
}
.about_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 405px;
  min-height: 255px;
  /* margin-top: -20px; */
  margin-right: 76px;
}
.about_title_3 {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 700;
  color: #48555b;
  letter-spacing: 0.188px;
  /* margin-bottom: 30px; */
}
.accent-color {
  color: #16ace8;
}
.about_text {
  color: #48555b;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.188px;
  margin: 0;
}
.about_right {
  display: flex;
}
.about_item {
  padding: 15px;
  font-size: 24px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  width: 140px;
  height: 224px;
  margin-right: 20px;
}
.about_item:nth-child(1) {
  background-image: url(../img/we-plan.png);
}
.about_item:nth-child(2) {
  background-image: url(../img/we-manage.png);
}
.about_item:nth-child(3) {
  background-image: url(../img/we-build.png);
  margin-right: 0;
}

/* Service section */
.service {
  max-width: 940px;
  display: flex;
  padding-top: 120px;
  padding-bottom: 115px;
  margin: 0 auto;
}
.service_inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: flex-start;
}
.service_title {
  min-width: 250px;
  text-transform: uppercase;
  color: #48555b;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.306px;
  margin: 0 155px 80px 0;
}
.service_title::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  display: block;
  margin: 10px auto 0 0;
}
.service_text {
  max-width: 405px;
  color: #48555b;
  font-size: 11px;
  font-weight: 400;
  line-height: 19px; /* 172.727% */
  letter-spacing: 0.2px;
  margin: 0 31px 78px 0;
}
.service_btn {
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  text-transform: uppercase;
  background: #00a4e5;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0 0 76px 0;
}
.service_grid {
  display: flex;
}
.service_item {
  width: 295px;
  height: 330px;
  flex-shrink: 0;
  margin-right: 28px;
  border: 1px solid #e6e6e6;
  background: #fff;
}
.service img {
  margin: 38px auto 25px 23px;
}
.service_item-title {
  min-width: 250px;
  text-transform: uppercase;
  color: #48555b;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.427px;
  margin-bottom: 13px;
}
.service_item .text {
  color: #48555b;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.188px;
}

@media screen and (max-width: 960px) {
  .container {
    max-width: 405px;
  }
  .about_inner {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .about_left {
    max-width: 405px;
    margin-bottom: 20px;
    margin-right: 50px;
  }
  .about_title_2 {
    padding-bottom: 20px;
  }
  .about_item:nth-child(3) {
    margin-right: 10px;
  }
  .service {
    max-width: 410px;
    padding: 50px 15px;
    margin: 0 auto;
  }
  .service_inner,
  .service_grid {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .service_inner {
    max-width: 405px;
    margin: 0 auto;
  }
  .service_inner h2,
  .service_text,
  .service_btn {
    margin-bottom: 15px;
  }
  .service_grid {
    max-width: 405px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .container {
    max-width: 200px;
  }
  .about_inner {
    padding: 0 15px;
  }
  .about_left {
    /* max-width: 405px; */
    /* width: 100%; */
    min-height: 200px;
    padding: 0 20px;
    margin-right: 0;
  }
  .about_right {
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
  }
  .about_item {
    margin: 10px;
    /* padding: 0 15px; */
  }
  .service_inner,
  .service_item {
    max-width: 205px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 400px) {
  .about_left {
    min-width: 220px;
  }
  .service_inner,
  .service_item {
    max-width: 220px;
    margin: 0 auto;
  }
  .service_item-title {
    min-width: 220px;
  }
}
